.res-card{
  padding: 5px;
  width: 300px;
  height:420px;
  background-color:white;
  border: 1px black solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight:bolder; 
  margin: 25px;
  overflow: hidden;
}

.res-card:hover{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  cursor: pointer;
    transform: scale(1.05);
    
  }


.food-img{
    border-bottom: 5px solid red;
}

.search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  height: 90px;
  
/* border: 2px red solid; */
}

#searchBox{
  width: 25%;
  height: 35%;
  border-radius: 5px;
  
}
#searchBox:hover{
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25); */
  transform: scale(1.05);
  cursor: pointer;
}

.btn{
  width: 8%; 
  height: 35%;
  background-color: #007BFF; /* Blue */
  color: white;
  border-radius: 6px;
  /* padding: 8px 16px; */
  border: none;
  transition: all 0.3s ease;
  
}
.btn:hover{
 background-color: #0056b3; 
  transform: scale(1.05);
  cursor: pointer;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25); */
}

